.phone {
  display: none;
}
.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(./assets/505.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  font-family: Helvetica;
}

.entry .image {
  border-radius: 2%;
  width: 70%;
  margin: 0 auto;
}

.container {
  width: 35%;
  margin-left: 3em;
  margin-right: 3em;
}

.entry {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 90%;
  margin: 3em auto;
  border-radius: 1%;
  line-height: 1.5em;
}

.entry ul {
  align-self: center;
  justify-self: center;
}

.description {
  text-align: justify;
}



.secondContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: cover;
  width: 40%;
}
.secondContainer h1 {
  margin-top: 2em;
}
.secondContainer p {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5em;
}

.socialMedia {
  position: fixed;
  bottom: 4%;
  
}

.arrowcont {
  position: fixed;
  bottom: 15%;
  color: rgba(222, 222, 214, 0.9);
}

@media screen and (max-width: 760px) {
  .App {
    flex-direction: column-reverse;
    opacity: 0.9;
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0;
  }
  .entry {
    width: 90%;
    margin: 0 auto;
    padding-top: 3em;
  }
  .entry .image {
    width: 100%;
  }
  .secondContainer {
    width: 100%;
    margin: 0;
  }
  .secondContainer h1 {
    margin-top: 0.5em;
  }
  .secondContainer p {
    width: 90%;
  }
  .hidden {
    display: none;
  }
  .socialMedia {
    margin-top: 3em;
    bottom: 1%;
    display: none;
  }
  .arrowcont {
    display: none;
  }

  .container {
  }
  .phone {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(222, 222, 214, 0.9);
  }
  .ar {
    padding-bottom: 1.5em;
  }
}
@media screen and (max-width: 1250px) {
  .hidden {
    display: none;
  }
}
@media screen and (max-width: 900px) and (min-width: 761px) {
  .arrowcont {
    top: 82%;
    color: rgba(222, 222, 214, 0.9);
  }
  .socialMedia {
    bottom: 1%;
  }
}
@media screen and (max-width: 760px) and (min-width: 550px) {
  .entry .image {
    width: 80%;
  }
  .secondContainer p {
    width: 80%;
  }
  .entry h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto
  }
  
}
